* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #eeeeee;
}

// HEADER STYLES
.header {
	background-image: (url('https://lp.x-kom.pl/a/esport-gra/assets/img/header/header-img.jpg'));
	width: 100%;
	height: 80vh;
	max-width: 2560px;
	max-height: 450px;
	background-position: 10%;
	background-size: cover;

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&__top {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 20px;

			img {
				max-width: 60px;
				height: 100%;
				width: 100%;
				margin-left: 45px;
			}
			img:first-child {
				max-width: 35px;
				margin-left: 15px;
			}
		}

		&__bottom {
			padding: 20px;
			height: 70%;
			width: 100%;
			color: #fff;
			text-align: center;

			h2 {
				font-weight: 400;
				font-size: 26px;
				margin-bottom: 45px;
			}

			h3 {
				font-weight: 300;
				font-size: 22px;

				span {
					font-weight: 600;
				}
			}
		}
	}
}
// ENDS OF HEADER STYLES
// ---------------------------------------------
// FIRST INFO STYLES
.first-info {
	padding: 15px;
	max-width: 1340px;
	margin-left: auto;
	margin-right: auto;

	// header of section styles
	&__header {
		margin-top: 15px;

		h2 {
			font-weight: 500;
			line-height: 150%;
			font-size: 26px;
		}
	}

	// text in section styles
	&__text {
		line-height: 150%;
		margin-bottom: 20px;
		span {
			font-weight: 600;
		}
	}

	// green splitter styles
	.splitter {
		width: 60%;
		max-width: 300px;
		height: 8px;
		margin: 20px 0;
		background-color: #56b472;
	}

	// 3 CARDS STYLES
	.cards {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		gap: 15px;
		align-items: center;

		.card {
			min-height: 320px;
			max-width: 600px;
			border-radius: 25px;
			width: 100%;
		}

		.card-one {
			background-image: url('https://lp.x-kom.pl/a/esport-gra/assets/img/intro/card-1.jpg');
			background-size: cover;
		}
		.card-two {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			line-height: 150%;
			font-weight: 300;

			color: #fff;
			background-color: #1b0249;
		}

		.card-three {
			background-image: url('https://lp.x-kom.pl/a/esport-gra/assets/img/intro/card-2.jpg');
			background-size: cover;
		}
	}
}

// Breakpointy -----------------------------------------------------------------------

// BP 580PX
@media (min-width: 580px) {
	.header {
		.container {
			// ZMIANA ROZMIARU 3LOGO NA GORZE
			&__top {
				img {
					max-width: 90px;
				}
				img:first-child {
					max-width: 45px;
				}
			}
			// KONIEC ZMIANY ROZMIAROW 3 LOGO NA GORZE
		}
	}
}

// BP 769PX
@media (min-width: 769px) {
	.header {
		// zmiana wysokości backgrounda
		max-height: 600px;
		// koniec zmiany wysokości backbrounda

		.container {
			// ZMIANA ROZMIARU 3LOGO NA GORZE
			&__top {
				margin-left: 40px;
				img {
					max-width: 100px;
					margin-left: 70px;
				}
				img:first-child {
					max-width: 55px;
				}
			}
			// KONIEC ZMIANY ROZMIAROW 3 LOGO NA GORZE
			&__bottom {
				height: 60%;

				h2 {
					font-size: 30px;
				}
				h3 {
					font-size: 26px;
					line-height: 160%;
				}
			}
		}
	}

	.first-info {
		padding: 25px;
		&__header {
			h2 {
				font-size: 28px;
			}
		}
		&__text {
			max-width: 80%;
			font-size: 22px;
			line-height: 170%;
		}

		.cards {
			flex-direction: row;

			.card {
				width: 40%;
			}
			.card-two {
				width: 60%;
				padding: 10px;
			}
		}
	}
}
